<h1>welcome{{data.name}}</h1>
<p>designation{{data.designation}}</p>
<p>company{{data.company}}</p>
<p>salary{{data.salary}}</p>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Employee Name</th>
                    <th scope="col">designation</th>
                    <th scope="col">salary</th>
                    <th scope="col">company</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of data">
                    <th>ajay</th>
                    <td>TMG</td>
                    <td>25000</td>
                    <td>nest</td>
                  </tr>
                </tbody>
              </table> 
            
        </div>
    </div>
</div>
