<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Know More</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Ajay</td>
                    <td>101</td>
                    <td><a routerLink="">Know more</a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Asif</td>
                    <td>102</td>
                    <td><a routerLink="">Know more</a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Nivin</td>
                    <td>103</td>
                    <td><a routerLink="">Know more</a></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Dulkar</td>
                    <td>104</td>
                    <td><a routerLink="">Know more</a></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>lalettan</td>
                    <td>105</td>
                    <td><a routerLink="">Know more</a></td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td >Nayanthara</td>
                    <td>106</td>
                    <td><a routerLink="">Know more</a></td>

                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Mammootty</td>
                    <td>107</td>
                    <td><a routerLink="">Know more</a></td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Vimal</td>
                    <td>108</td>
                    <td><a routerLink="">Know more</a></td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td >Vishnu</td>
                    <td>109</td>
                    <td><a routerLink="">Know more</a></td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td >sarath</td>
                    <td>110</td>
                    <td><a routerLink="">Know more</a></td>
                  </tr>
                </tbody>
              </table> 
            </div>
        </div>
    </div>
</div>
